#cartContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#headingContainer {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    color: #FFF;
    padding: 5px;
    box-shadow: 0 0 0.3rem #000;
}

#cartList {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cart.item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 1.1rem;
}

.cart.total {
    border-top: 1px solid #000;
    padding-top: 10px;
    width: 40%;
    display: flex;
    justify-content: space-between;
}

#cartContainer button {
    padding: 3px;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid #000;
    border-radius: 5px;
    background: #FFF;
    color: #000;
    transition: all .1s ease-out;
}

#cartContainer button:hover {
    color: #FFF;
    background: #000;
}

#cartContainer button:active {
    transform: scale(1.1);
}

#checkoutBtn {
    width: 40%;
    padding: 5px;
    font-size: 1.2rem;
}

.priceAndDelete {
    display: flex;
    align-items: center;
    gap: 5px;
}

.checkedOut {
    text-align: center;
}

.deleteIcon {
    width: 20px;
    height: 20px;
}

.deleteIcon:hover {
cursor: pointer;
}


