#cartContainer {
    width: 100vw;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#greetingContainer {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    gap: 25px;
    
}

#headingContainer {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    color: #FFF;
    padding: 5px;
    box-shadow: 0 0 0.3rem #000;
}

#cartList {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cart.item {
    display: flex;
    justify-content: space-between;
    font-size: 1.1rem;
}

.cart.total {
    width: 40%;
    border-top: 1px solid #000;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}

#cartContainer button {
    width: 40%;
    padding: 3px;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid #000;
    border-radius: 5px;
    background: #FFF;
    color: #000;
    transition: all .1s ease-out;
}

#cartContainer button:hover {
    color: #FFF;
    background: #000;
}

#cartContainer button:active {
    transform: scale(1.1);
}

#checkoutBtn {
    padding: 5px;
    font-size: 1.2rem;
}

#cartContainer .image {
    width: 400px;
    border: 2px solid #000;
    border-radius: 100px;
    box-shadow: 0 0 .5rem #000;
}

#cartContainer .text {
    text-align: center;
    width: 90%;
}

.priceAndDelete {
    display: flex;
    align-items: center;
    gap: 5px;
}

.checkedOut {
    text-align: center;
}

.deleteIcon {
    width: 20px;
    height: 20px;
}

.deleteIcon:hover {
    cursor: pointer;
}

@media (max-width: 500px) {
    #greetingContainer {
        width: 100%;
    }

    #cartContainer {
        font-size: .8rem;
    }

    #cartContainer .image {
        width: 200px;
        border-radius: 50px;
    }
    
    #headingContainer,
    #cartContainer button,
    #cartList,
    .cart.total{
        width: 80%;
    }
}

@media (max-width: 250px) {
    .cart.item {
        flex-direction: column;
        align-items: center;
        align-self: center;
    }
}
