table {
    width: 90%;
    border-spacing: 0 10px;
    font-size: 1.2rem;
}
  
th, td {
    padding: 8px;
    text-align: left;
}

td img {
    width: 40px;
    border-radius: 5px;
} 

thead tr {
    background: #000;
    color: #FFF;
    box-shadow: 0 0 0.3rem #000;
    font-size: 1.5rem;
}
  
tbody tr {   
    box-shadow: 0 0 0.1rem #000;
    border-radius: 5px;
    transition: all .2s ease-out;
}
  
tbody tr:hover {
    box-shadow: 0 0 0.5rem #000;

}

.name {
    display: flex;
    align-items: center;
    gap: 5px;
} 

table button {
    padding: 5px;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    border: 2px solid #000;
    border-radius: 5px;
    background: #FFF;
    color: #000;
    transition: all .1s ease-out;
}

table button:hover {
    color: #FFF;
    background: #000;
}

table button:active {
    transform: scale(1.1);
}