@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid #000;
    box-shadow: 0 0 .9rem #000;
}

header h1 {
    font-family: 'Zen Dots', sans-serif;
    font-size: 2.5rem;
    text-decoration: underline;
    padding-top: 5px;
}

header a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

header a:nth-child(1) {
    padding-top: 10px;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;  
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.cartIcon {
    position: relative;
    display: inline-block;
}


.cartIcon svg {
    width: 30px; 
    height: 30px; 
    color: #000;
}
  
.cartBadge {
    font-family: monospace;
    position: absolute;
    top: 25%;
    left: 75%;
    transform: translate(-50%, -50%);
    background-color: #FFF; 
    color: #000; 
    border: 1px solid #000;
    border-radius: 50%;
    padding: 0.0rem 0.3rem; 
    font-size: 1rem; 
    font-weight: bold;
}
  
@media (min-width: 1000px) {
    nav {
        justify-content: space-around;
    }
}