@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Zen+Dots&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

#root {
    font-family: 'Kanit', sans-serif;
    max-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

main {
    max-width: 1000px;
}

